.f-w-500{
    font-weight:500;
}
.c-height-36{
    height:36px;
    line-height: 36px;
}
.b-b-1{
    border-bottom: 1px solid #dddddd;
}
.c-select-36{
    height:36px !important;
}
.c-width-100{
    width:100%;
}
.form-control[readonly]{
    cursor: not-allowed;
}
.add-border-btm15{
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}
.shuiping-juzhong{
    display: flex;
    align-items: center;
}

/*文件上传展示输入框样式*/
#showlocation:focus{
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/*   表单验证提示信息设置  start*/
#packagetype1-error,#dirtype-error,#haspool-error,#packagetype-error{
    position: absolute;
    top:36px;
}
#packageid2-error,#liuliangchi2-error,#packageid-error{
    text-align: right;
}
.input-group-btn{
    vertical-align:top;
}
/*   表单验证提示信息设置  end */

/*开卡日期显示必填样式设置，避免它对其他样式造成错乱*/
#time-error,#opencardtime-error,#startdate-error,#enddate-error,#countdate-error{
    float:left;
}
.input-group-btn{
    vertical-align:top;
}