<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Webarch - Responsive Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN PLUGIN CSS -->
  <link href="../../assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../../assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen">
  <link rel="stylesheet" href="../../assets/plugins/jquery-morris-chart/css/morris.css" type="text/css" media="screen">
  <!-- BEGIN PLUGIN CSS -->
  <link href="../../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="../../assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../assets/plugins/animate.min.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
  <!-- END PLUGIN CSS -->
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link href="../../webarch/css/webarch.css" rel="stylesheet" type="text/css" />
  <!-- END CORE CSS FRAMEWORK -->
  <style>
    .bg-danger {
      background-color: #fc8675 !important;
      color: #fff !important;
    }
    .panel-stat3 {
      position: relative;
      overflow: hidden;
      padding: 25px 20px;
      margin-bottom: 20px;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
    }
    .panel-stat3 .stat-icon {
      position: absolute;
      top: 20px;
      right: 10px;
      font-size: 30px;
      opacity: .3;
    }
    .m-top-none {
      margin-top: 0;
    }
    .fa-3x {
      font-size: 3em;
    }
  </style>
</head>
<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="header-seperation">
      <ul class="nav pull-left notifcation-center visible-xs visible-sm">
        <li class="dropdown">
          <a href="#main-menu" data-webarch="toggle-left-side">
            <i class="material-icons">menu</i>
          </a>
        </li>
      </ul>
      <!-- BEGIN LOGO -->
      <a href="../../index.html">
        <span style="padding-left:20px;width:106px;height:60px;line-height: 60px;font-size: 36px;color:#ffffff;">admin</span>
        <!--<img src="../../assets/img/logo.png" class="logo" alt="" data-src="../../assets/img/logo.png" data-src-retina="../../assets/img/logo2x.png" width="106" height="21" />-->
      </a>
      <!-- END LOGO -->
      <ul class="nav pull-right notifcation-center">
        <li class="dropdown hidden-xs hidden-sm">
          <a href="../../index.html" class="dropdown-toggle active" data-toggle="">
            <i class="material-icons">home</i>
          </a>
        </li>
      </ul>
    </div>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="header-quick-nav">
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="pull-left">
        <ul class="nav quick-section">
          <li class="quicklinks">
            <a href="#" class="" id="layout-condensed-toggle">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
      </div>

      <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
        <div class="chat-toggler sm">
          <div class="profile-pic">
            <img src="http://wlw.pinet.co/Public/Images/pinetlogo.png" alt="" data-src="http://wlw.pinet.co/Public/Images/pinetlogo.png" width="35" height="35" />
            <div class="availability-bubble online"></div>
          </div>
        </div>
        <div style="float:left;margin-top:24px;">管理员</div>
        <ul class="nav quick-section ">
          <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
              <i class="material-icons">tune</i>
            </a>
            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
              <li>
                <a href="../Adminuser/chgpasswd.html"><i class="fa fa-gear" style="font-size: 15px;"></i> 修改密码</a>
              </li>
              <li>
                <a href="../Adminuser/login.html"><i class="material-icons">power_settings_new</i>退出登陆</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END CHAT TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar " id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
      <div class="user-info-wrapper sm">
        <div class="profile-wrapper sm">
          <img style="background: #ffffff;" src="http://wlw.pinet.co/Public/Images/pinetlogo.png" alt="" data-src="http://wlw.pinet.co/Public/Images/pinetlogo.png" data-src-retina="http://wlw.pinet.co/Public/Images/pinetlogo.png" width="69" height="69" />
          <div class="availability-bubble online"></div>
        </div>
        <div class="user-info sm">
          <div class="username" style="font-size: 14px;">管理员组 <span class="semi-bold">管理员</span></div>
          <!--<div class="status">Life goes on...</div>-->
        </div>
      </div>
      <!-- END MINI-PROFILE -->
      <!-- BEGIN SIDEBAR MENU -->
      <!--<p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span></p>-->
      <ul style="overflow: hidden;">
        <li> <a href="../Adminuser/chgpasswd.html"><i class="fa fa-inbox"></i> <span class="title">修改密码</span> <span class="selected"></span></a>
        <li class="start "> <a href="dashboard.html"><i class="fa fa-inbox"></i> <span class="title">Dashboard</span> <span class="selected"></span></a>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">实名制管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Realname/Realname.html"> 实名制信息 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">自动补卡池流量监测</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Flowrecord/index10G.html">3G定向月套餐流量池 </a> </li>
            <li> <a href="../Flowrecord/index15G.html">3G非定向月套餐流量池</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信物联网卡管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Card/index.html">物联网卡 </a> </li>
            <li> <a href="../Workorder/index.html">业务工单</a> </li>
            <li> <a href="../Package/Package.html">套餐管理</a> </li>
            <li> <a href="../Dealer/Dealer.html">发卡商管理</a> </li>
            <li> <a href="../Pool/Pool.html">流量池管理</a> </li>
            <li> <a href="../Opencardrecord/Opencardrecord.html">开卡记录管理</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信封装卡管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Cardspec/index.html"> 封装卡 </a> </li>
            <li> <a href="../Cardspecinfo/index.html">封装信息 </a> </li>
            <li> <a href="../Workorderspec/index.html">封装卡工单</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i><span class="title"> 移动（广东）物联网卡管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../CmCard/index.html"> 物联网卡 </a> </li>
            <li> <a href="../CmWorkorder/CmWorkorder.html"> 业务工单 </a> </li>
            <li> <a href="../CmPackage/CmPackage.html"> 套餐管理 </a> </li>
            <li> <a href="../CmDealer/CmDealer.html">发卡商管理</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i><span class="title"> 移动（安徽）物联网卡管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../AhCard/index.html"> 物联网卡 </a> </li>
            <li> <a href="../AhWorkorder/index.html"> 操作工单 </a> </li>
            <li> <a href="../AhOpencardrecord/index.html"> 开卡记录管理 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信物联网卡使用情况</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Useinfo/poolusedmgr.html">流量池使用量 </a> </li>
            <li> <a href="../Useinfo/activeratemgr.html">物联网卡激活率</a> </li>
            <li> <a href="../Useinfo/developdatemgr.html">物联网卡发展时间</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">移动物联网卡使用情况</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../CmUseinfo/poolusedmgr.html">流量池使用量</a> </li>
            <li> <a href="../CmUseinfo/activeratemgr.html">物联网卡激活率</a> </li>
            <li> <a href="../CmUseinfo/developdatemgr.html">物联网卡发展时间</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信利润管理</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Recharge/index.html"> 充值订单 </a> </li>
            <li> <a href="../Statistic/index.html"> 利润结算 </a> </li>
            <li> <a href="../Proportion/index.html"> 利润分配 </a> </li>
            <li> <a href="../Exportdata/index.html"> 账单统计 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信业务管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Business/queryPakage.html"> 套餐使用量 </a> </li>
            <li> <a href="../Business/queryBalance.html"> 余额查询 </a> </li>
            <li> <a href="../Business/prodInstQuery.html"> 产品资料 </a> </li>
            <li> <a href="../Business/queryCardStatus.html"> 查询卡状态 </a> </li>
            <li> <a href="../Business/queryTraffic.html"> 查询流量 </a> </li>
            <li> <a href="../Business/valueAddedDetailQuery.html"> 查询增值详单 </a> </li>
            <li> <a href="../Business/getLocationByPhone.html"> 基站粗定位 </a> </li>
            <li> <a href="../Business/getE2eInfo.html"> 设备识别码（IMEI） </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">移动业务管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../CmZichan/group.html"> 集团信息 </a> </li>
            <li> <a href="../CmZichan/number.html"> 号码管理 </a> </li>
            <li> <a href="../CmZichan/status.html"> 状态管理 </a> </li>
            <li> <a href="../CmZichan/functions.html"> 功能管理 </a> </li>
            <li> <a href="../CmZifei/memberpkg.html"> 套餐办理 </a> </li>
            <li> <a href="../CmZifei/orderno.html"> 订单查询 </a> </li>
            <li> <a href="../CmZifei/flow.html"> 流量查询 </a> </li>
            <li> <a href="../CmZifei/share.html"> 流量共享管理</a> </li>
            <li> <a href="../CmZifei/pool.html"> 流量池管理</a> </li>
            <li> <a href="../CmZichan/bills.html"> 账单管理</a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">电信二级几口管理</span> <span class=" arrow"></span></a>
          <ul class="sub-menu">
            <li> <a href="../Interfacepack/interfacemgr.html"> 接口管理 </a> </li>
            <li> <a href="../Interfacepack/interfaceprivgroupmgr.html"> 权限组管理 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">移动二级几口管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../CmInterfacepack/interfacemgr.html"> 接口管理 </a> </li>
            <li> <a href="../CmInterfacepack/interfaceprivgroupmgr.html"> 权限组管理 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">客户管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../System/rolemgr.html"> 角色权限管理 </a> </li>
            <li> <a href="../System/adminusermgr.html"> 渠道/分销商管理 </a> </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">系统管理</span> <span class=" arrow"></span> </a>
          <ul class="sub-menu">
            <li> <a href="../Paramsign/index.html"> 参数签名 </a> </li>
            <li> <a href="../Actionlog/index.html"> 操作日志 </a> </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <a href="#" class="scrollup">Scroll</a>
  <div class="footer-widget">
    <div class="progress transparent progress-small no-radius no-margin">
      <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="79%" style="width: 79%;"></div>
    </div>
    <div class="pull-right">
      <div class="details-status"> <span class="animate-number" data-value="86" data-animation-duration="560">86</span>% </div>
      <a href="lockscreen.html"><i class="material-icons">power_settings_new</i></a></div>
  </div>
  <!-- END SIDEBAR -->
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>Widget Settings</h3>
      </div>
      <div class="modal-body"> Widget settings form goes here </div>
    </div>
    <div class="clearfix"></div>

    <!--<div class="content">-->
    <!--</div>-->
    <div class="content">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="panel-stat3 bg-danger">
            <h2 class="m-top-none" id="userCount" style="font-size: 30px;color:#ffffff;font-weight: 500;">{$totalnum}</h2>
            <h5 style="font-weight: 500;color:#ffffff;">物联网卡总数量</h5>

            <div class="stat-icon">
              <i class="fa fa-folder-o fa-3x"></i>
            </div>
            <i class="fa fa-folder-o fa-lg"></i>

            <!--<div class="loading-overlay">-->
              <!--<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-3">
          <div class="panel-stat3 bg-info" style="background: #6caebd;">
            <h2 class="m-top-none"><span id="serverloadCount" style="font-size: 30px;color:#ffffff;font-weight: 500;">{$activenum}</span></h2>
            <h5 style="font-weight: 500;color:#ffffff;">已激活物联网卡数量</h5>
            <i class="fa fa-folder-open-o fa-lg"></i><span class="m-left-xs">激活率 {$activerate}% </span>

            <div class="stat-icon">
              <i class="fa fa-folder-open-o fa-3x"></i>
            </div>
            <!--<div class="loading-overlay">-->
              <!--<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-3">
          <div class="panel-stat3 bg-warning" style="background-color: #f3ce85;">
            <h2 class="m-top-none" id="orderCount" style="font-size: 30px;color:#ffffff;font-weight: 500;">{$totalflow|intval}</h2>
            <h5 style="font-weight: 500;color:#ffffff;">流量池当月总流量</h5>
            <i class="fa fa-tasks fa-lg"></i> 单位：GB

            <div class="stat-icon">
              <i class="fa fa-tasks fa-3x"></i>
            </div>
            <!--<div class="loading-overlay">-->
              <!--<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-md-3">
          <div class="panel-stat3 bg-success" style="background-color: #65cea7;">
            <h2 class="m-top-none" id="visitorCount" style="font-size: 30px;color:#ffffff;font-weight: 500;">{$alreadyflow|intval}</h2>
            <h5 style="font-weight: 500;color:#ffffff;">流量池当月已使用量</h5>
            <i class="fa fa-bar-chart-o fa-lg"></i> 单位：GB

            <div class="stat-icon">
              <i class="fa fa-bar-chart-o fa-3x"></i>
            </div>
            <!--<div class="loading-overlay">-->
              <!--<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel panel-default">
              <div class="panel-heading clearfix" style="border:1px #f1f1f1 solid;border-bottom: none;">
                <span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> 最近6个月卡池情况</span>
              </div>
              <div id="trafficWidget">
                <div id="placeholder" class="graph" style="height:300px"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BEGIN CHAT -->
  <!-- END CHAT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<script src="../../assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<!-- BEGIN JS DEPENDECENCIES-->
<script src="../../assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/jquery-block-ui/jqueryblockui.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="../../assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<!-- END CORE JS DEPENDECENCIES-->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="../../webarch/js/webarch.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../../assets/plugins/jquery-ricksaw-chart/js/d3.v2.js"></script>
<script src="../../assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js"></script>
<script src="../../assets/plugins/jquery-morris-chart/js/morris.min.js"></script>
<script src="../../assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>
<script src="../../assets/plugins/jquery-flot/jquery.flot.js"></script>
<script src="../../assets/plugins/jquery-flot/jquery.flot.time.min.js"></script>
<script src="../../assets/plugins/jquery-flot/jquery.flot.selection.min.js"></script>
<script src="../../assets/plugins/jquery-flot/jquery.flot.animator.min.js"></script>
<script src="../../assets/plugins/jquery-flot/jquery.flot.orderBars.js"></script>
<script src="../../assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>
<!--<script src="assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>-->
<!-- END PAGE LEVEL PLUGINS -->
<script src="../../assets/js/charts.js" type="text/javascript"></script>
<script src="../../assets/plugins/highcharts.js"></script>
<script type="text/javascript">
$(function(){
    var fulldata = [{$fullflow}];
    var useddata = [{$usedflow}];
    var month = [{$month}];
    Highcharts.chart('placeholder', {
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                formatter: function(){
                    return this.value;
                }
            }
        },
        xAxis: {
            categories: [month]
        },
        colors: ['#FC8675'],
        legend: {
        layout: 'vertical',
            align: 'right',
            verticalAlign: '',
            display:'none'
        },
        series: [{
              name: '总流量池',
              data: [fulldata]
            },
            {
              name: '实际使用流量',
              data: [useddata]}
            ],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
})

</script>
<!--<script type="text/javascript">-->
    <!--$(function () {-->
        <!--var fulldata = [{$fullflow}];-->
        <!--var useddata = [{$usedflow}];-->
        <!--var month = [{$month}];-->
        <!--var pl = $.plot($("#placeholder"),-->
            <!--[-->
                <!--{ label: "总流量池", data: fulldata,colors:["#543494"]},-->
                <!--{ label: "实际使用流量", data: useddata}-->
            <!--],-->
            <!--{-->
                <!--series: {-->
                    <!--lines: {show: true},-->
                    <!--points: {show: true, radius: '4.5'}-->
                <!--},-->
                <!--grid: {hoverable: true, clickable: true, borderColor: '#000', borderWidth: 1},-->
                <!--xaxis: {-->
                    <!--ticks: month-->
                <!--}-->
            <!--});-->
        <!--$("<div id='tooltip'></div>").css({-->
            <!--position: "absolute",-->
            <!--display: "none",-->
            <!--border: "1px solid #222",-->
            <!--padding: "4px",-->
            <!--color: "#fff",-->
            <!--"border-radius": "4px",-->
            <!--"background-color": "rgb(0,0,0)",-->
            <!--opacity: 0.90-->
        <!--}).appendTo("body");-->
        <!--$("#placeholder").bind("plothover", function (event, pos, item) {-->
            <!--if (item) {-->
                <!--var x = item.datapoint[0],  y = item.datapoint[1];-->
                <!--var label = item.series.label;-->
                <!--$("#tooltip").html(month[item.dataIndex][1]+label+" :<br/> " + y+" GB")-->
                    <!--.css({top: item.pageY+5, left: item.pageX-100})-->
                    <!--.fadeIn(200);-->
            <!--} else {-->
                <!--$("#tooltip").hide();-->
            <!--}-->
        <!--});-->

    <!--});-->


<!--</script>-->
</body>
</html>